<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/assets/css/main.css">
  <link rel="stylesheet" href="/public/assets/css/3_slide.css">
  <link rel="stylesheet" href="/public/assets/css/base.css">
  <link rel="stylesheet" href="/public/assets/css/DkDn.css">
  <link rel="stylesheet" href="/public/assets/css/ket.css">
  <link rel="stylesheet" href="/public/assets/css/menu_dacap.css">
  <link rel="stylesheet" href="/public/assets/css/truyenChu.css">
  <link rel="stylesheet" href="/public/assets/css/cheDoToi.css">
  <link rel="stylesheet" href="/public/assets/css/truyenMoiCapNhat.css">
  <link rel="stylesheet" href="/public/assets/fonts/fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">
</head>
<body>
  <div class="app">
    <header class="header">      
    <nav class="header__navbar1">
      <ul class="header__navbar-list1">
        <div class="header-white-search">
          <div class="header__logo">
            <div class="header__logo-img">
              <a href="./truyen.html" class="header__logo-img-book"><i class="fas fa-book-open" style="color: #ffffff;"></i></a>
              <a href="./truyen.html"><img src="/public/assets/img/8.jpg" alt="fđ" width="160px" header="220px"> </a>
            </div>
          </div>
        </div>
      </ul>
      <!--Tìm kiếm-->
      <ul class="header__navbar-list1">
        <div class="form">
        <form action="" id="search-box">
          <input type="text" id="search-text" placeholder="Tìm truyện...">
          <button id="search-btn"><i class="fas fa-search"></i></button>
        </form>
        </div>
      </ul>
      <ul class="header_navbar-list1">
        <li class="header_navbar-item1">
          <a href="#" class="tk header_navbar-item2" style="color: #fff;">
            <i class="fas fa-user"></i> Tài khoản <i class="fas fa-sort-down"></i>
          </a>
          <!-- Menu con -->
          <div class="box-submenu">
            <ul>
              <li><a href="#" class="dn">Đăng nhập</a></li>
              <li><a href="#" class="dk">Đăng ký</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <!--Phương thức-->
    
     <!--Tài khoản-->

    </nav>   
  </header>
  
    <!--Dòng 2-->  
    <nav class="header__navbar">
    <ul class="header__navbar-list">
      <li class="header__navbar-item"> 
        <a href="./truyen.html" class="header__navbar-item-link1">
          <i class="fas fa-home" style="color: #0d6f6e;" ></i>
        </a> 
      </li> 
      <li class="header__navbar-item">
        <a href="#" class="header__navbar-item-link">
          <i class="f1 fas fa-list-ul"></i> Thể loại <i class="fas fa-sort-down"></i>
        </a>
        <!-- Menu con -->
        <div class="dropdown-menu">
          <ul class="dropdown-list">
            <li><a href="./theTruyen.html">Truyện cổ tích</a></li>
            <li><a href="./theTruyen.html">Truyện ngụ ngôn</a></li>
            <li><a href="./theTruyen.html">Truyện cười</a></li>
            <li><a href="./theTruyen.html">Tiểu thuyết</a></li>
            <li><a href="./theTruyen.html">Truyện ngắn</a></li>
            <li><a href="./theTruyen.html">Truyện truyền thuyết</a></li>
            <li><a href="./theTruyen.html">Truyện thơ</a></li>
            <li><a href="./theTruyen.html">Truyện tâm lý xã hội</a></li>
            <li><a href="./theTruyen.html">Truyện kinh dị - Giả tưởng</a></li>
            <li><a href="./theTruyen.html">Truyện ký sự - Tự truyện</a></li>
            <li><a href="./theTruyen.html">Truyện dành cho thiếu nhi</a></li>
            <li><a href="./theTruyen.html">Truyện khoa học - Giáo dục</a></li>
          </ul>
        </div>
      </li>
      

      <li class="header__navbar-item">
        <a href="#" class="header__navbar-item-link">
          <i class="f1 fas fa-list-ul"></i> Xếp hạng <i class="fas fa-sort-down"></i>
        </a>
        <!-- Menu con -->
        <div class="dropdown-menu">
          <ul class="dropdown-list">
            <!-- Mục con cấp 1 -->
            <li class="dropdown-item">
              <a href="#">Theo Lượt Đọc</a>
              <!-- Menu con cấp 2 -->
              <ul class="sub-dropdown">
                <li><a href="./theTruyen.html ">Trong tuần</a></li>
                <li><a href=" ./theTruyen.html">Trong tháng</a></li>
                <li><a href="./theTruyen.html ">Mọi thời đại</a></li>
              </ul>
            </li>
            <li class="dropdown-item">
              <a href="#">Theo Đánh Giá</a>
              <ul class="sub-dropdown">
                <li><a href="./theTruyen.html">Đánh giá cao nhất</a></li>
                <li><a href="./theTruyen.html">Được yêu thích</a></li>
                <li><a href="./theTruyen.html">Nhiều bình luận nhất</a></li>
              </ul>
            </li>
            <li class="dropdown-item">
              <a href="#">Theo Thể Loại</a>
              <ul class="sub-dropdown">
                <li><a href="./theTruyen.html">Cổ tích</a></li>
                <li><a href="./theTruyen.html">Truyện ngắn</a></li>
                <li><a href="./theTruyen.html">Tiểu thuyết</a></li>
                <li><a href="./theTruyen.html">Kinh dị</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      
      
      <li class="header__navbar-item"> 
        <a href="" class="header__navbar-item-link ">
          <i class="f1 fas fa-font"></i> Truyện chữ
        </a>
      </li>
         
      <li class="header__navbar-item">
        <a href="#" class="header__navbar-item-link">
          <i class="f1 fas fa-list-ul"></i> Phân loại theo chương <i class="fas fa-sort-down"></i>
        </a>
        <!-- Dropdown menu -->
        <ul class="dropdown">
          <li>
            <a href="#">Full chương</a>
          </li>
          <li>
            <a href="#">Trên 100 chương</a>
          </li>
          <li>
            <a href="#">Dưới 50 chương</a>
          </li>
          <li>
            <a href="#">Đang ra chương</a>
          </li>
          <li>
            <a href="#">Chương mới nhất</a>
          </li>
        </ul>
      </li>
            
      <li class="header__navbar-item"> 
        <a href="#" class="header__navbar-item-link">
          <i class="f1 far fa-lightbulb" id="darkModeToggle" style="color: #ffcd18;"></i>
        </a>
      </li> 
      
      <script>
        // JavaScript cho Dark Mode
        const darkModeToggle = document.getElementById('darkModeToggle');

        // Xử lý sự kiện click
        darkModeToggle.addEventListener('click', () => {
            document.body.classList.toggle('dark-mode');
            
            // Đổi icon màu để phù hợp chế độ
            if (document.body.classList.contains('dark-mode')) {
                darkModeToggle.style.color = '#ffffff';
            } else {
                darkModeToggle.style.color = '#ffcd18';
            }
        });
      </script>      
    </ul>
    </nav>
    </div>
    <br>
    <div class="container1">
      <div class="header1">
          <h2>Kết quả phù hợp</h2>    
      </div>  
        <p>Xin lỗi, không tìm thấy kết quả nào!!</p>  
    </div>
          
  </nav>
  <br>

  <div class="container3">
    <div class="left-section">
      <h2>Liên hệ đặt quảng cáo</h2>
      <p>Email: loc1tulem2@gmail.com</p>
      <p>Copyright © 2024 TruyenVN</p>
      <h2>Miễn trừ trách nhiệm</h2>
      <p>Trang web của chúng tôi chỉ cung cấp dịch vụ đọc truyện tranh online 
        với mục đích giải trí và chia sẻ nội dung. Toàn bộ các truyện tranh 
        được đăng tải trên trang web được sưu tầm từ nhiều nguồn trên internet 
        và chúng tôi không chịu trách nhiệm về bản quyền hoặc quyền sở hữu đối
        với bất kỳ nội dung nào. <br>  Nếu bạn là chủ sở hữu bản quyền và cho rằng nội
        dung trên trang vi phạm quyền của bạn, vui lòng liên hệ với chúng tôi
        để tiến hành gỡ bỏ nội dung vi phạm một cách kịp thời.</p>
      </div>
      <div class="right-section">
        <a href="./theTruyen.html" class="box">Truyện Hot</a>
        <a href="./theTruyen.html" class="box">Truyện Truyền Thuyết</a>
        <a href="./theTruyen.html" class="box">Truyện Ngụ Ngôn</a>
        <a href="./theTruyen.html" class="box">Truyện lịch sử Việt Nam</a>
        <a href="./theTruyen.html" class="box">Truyện cổ tích Việt Nam</a>
        <a href="./theTruyen.html" class="box">Truyện dân gian</a>
        <a href="./theTruyen.html" class="box">Truyện ngụ ngôn Việt Nam</a>
        <a href="./theTruyen.html" class="box">Truyện truyền thuyết</a>
        <a href="./theTruyen.html" class="box">Truyện chữ</a>
        <a href="./theTruyen.html" class="box">Truyện cổ xưa</a>
        <a href="./theTruyen.html" class="box">Truyện thần thoại Việt Nam</a>
        <a href="./theTruyen.html" class="box">Truyện thiếu nhi Việt Nam</a>
        <a href="./theTruyen.html" class="box">Truyện ngắn Việt Nam</a>
        <a href="./theTruyen.html" class="box">Truyện ma Việt Nam</a>
        <a href="./theTruyen.html" class="box">Truyện kỳ bí Việt Nam</a>
        <a href="./theTruyen.html" class="box">Truyện tiếu lâm Việt Nam</a>
        <a href="./theTruyen.html" class="box">Truyện quê hương</a>
        <a href="./theTruyen.html" class="box">Chuyện tình quê</a>
        <a href="./theTruyen.html" class="box">Truyện hiện đại Việt Nam</a>
        <a href="./theTruyen.html" class="box">Truyện bi kịch</a>
        <a href="./theTruyen.html" class="box">Truyện cách mạng</a>
        <a href="./theTruyen.html" class="box">Chuyện người Việt xa xứ</a>
        <a href="./theTruyen.html" class="box">Truyện cảm hứng lịch sử</a>
        <a href="./theTruyen.html" class="box">Truyện gia đình Việt Nam</a>
        <a href="./theTruyen.html" class="box">Truyện cười Việt Nam</a>
        <a href="./theTruyen.html" class="box">Truyện thiếu niên</a>
        <a href="./theTruyen.html" class="box">Truyện lộc thành</a>
        <a href="./theTruyen.html" class="box">Truyện thần tiên</a>
        <a href="./theTruyen.html" class="box">Chuyện đời thật</a>
        <a href="./theTruyen.html" class="box">Truyện ngôn luận</a>
        <a href="./theTruyen.html" class="box">Kịch bản dân gian</a>
        <a href="./theTruyen.html" class="box">Văn học dân gian</a>        
    </div>
</body>
</html>
