.slide {
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1090px;
    margin: 0px auto;
    width: 1100px; 
}

.slide h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
    margin-top: 10px;
}

.slide-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.slide-show {
    overflow: hidden;
    width: 100%;
    display: flex;
}

.list-images {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.images {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 150px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.images img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.images:hover img {
    transform: scale(1.1);
}

.images p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.arrow-left, .arrow-right {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.arrow-left:hover, .arrow-right:hover {
    background-color: #f0f0f0;
}

.arrow-left {
    position: absolute;
    left: 0;
    z-index: 1;
}

.arrow-right {
    position: absolute;
    right: 0;
    z-index: 1;
}