.title{
    text-align: center;
    
}

/*Nút chương*/
.navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    font-family: Helvetica; 
   
}

.nav-item {
    position: relative;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-item:hover {
    background-color: #ddd;
}

/* Dropdown menu */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #0d6f6e;
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
}

.dropdown li {
    border-bottom: 1px solid #eee;
}

.dropdown li:last-child {
    border-bottom: none;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #c72525;
}

.dropdown a:hover {
    background-color: #1f27b4;
}

/* Show dropdown on hover */
.nav-item:hover .dropdown {
    display: block;
}

/*Noi dung*/
.story_content{
    font-family: Helvetica;  
    font-size: 25px;
    padding: 0 30px; /* Căn lề trái và phải 30px */
    text-align: justify; /* Căn đều chữ */
    color: #333;
}
